
.bookappointment{
    width: 615px;
    border-radius: 4px;
    padding-top: 130px;
    margin: 0px auto;
}

.bookappointment .header {
    display: flex;
}

.bookappointment .header .title {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    padding-top: 5px;
}

.bookappointment .header .button {
    margin-left: auto;
}

.bookappointment .header .button button {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 58px;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 700;
    color: #000000;

}

.bookappointment .form {
    margin-top: 24px;
    margin-bottom: 24px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 16px 24px;
}

.bookappointment .form .form-container{
    padding-bottom: 24px;
}

.bookappointment .form .form-container .form-label {
    font-size: 12px;
    font-weight: 400;
    color: #515263;
}

.bookappointment .form .form-container .form-input {
    padding-top: 12px;
}

.bookappointment .form .form-container .form-input input {
    width: calc(100% - 30px);
    background-color: #FAFAFA;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    padding: 15px;
}

.bookappointment .form .form-container .form-input input:focus-visible {
    border: 1px solid #D3D3D3;
}

.bookappointment .form .form-container .form-radio {
    padding-top: 12px;
    display: flex;
}

.bookappointment .form .form-container .form-radio .form-radio-container {
    padding-right: 24px;
}

.bookappointment .form .form-container .form-radio .form-radio-container label {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    padding-left: 6px;
}

.bookappointment .form .button button {
    background-color: #E2641D;
    border: none;
    border-radius: 58px;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}
.bookappointment .form .form-container .form-input select {
    width: calc(100% - 30px);
    background-color: #FAFAFA;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    padding: 15px;
}
.bookappointment .form .form-container .form-input-check input {
    background-color: #FAFAFA;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    padding: 15px;
}