<app-header></app-header>
<div class="list"> 
    <div class="header">
        <div class="title">
            Scheduled Appointments
        </div>
        <div class="button">
            <a routerLink="/appointment">
                <button>Book an Appointment</button>
            </a>
        </div>
    </div>
    <div class="list">
        <div class="single">
            <div class="title">
                Request for loan of Rs 1,00,00,000.00 within 20 days
            </div>
            <div class="description">
                <div class="name">
                    Phil Foden
                </div>
                <div class="address">
                    Baneshwor, Kathmandu
                </div>
            </div>
            <div class="schedule">
                <div class="day">
                    Today
                </div>
                <div class="time">
                    3:00 - 3:30 PM
                </div>
            </div>
            <div class="action">
                <div class="cancel">
                    <button>Cancel</button>
                </div>
                <div class="reschedule">
                    <button>Reschedule</button>
                </div>
            </div>
        </div>

        <div class="single">
            <div class="title">
                Request for loan of Rs 1,00,00,000.00 within 20 days
            </div>
            <div class="description">
                <div class="name">
                    Phil Foden
                </div>
                <div class="address">
                    Baneshwor, Kathmandu
                </div>
            </div>
            <div class="schedule">
                <div class="day">
                    Today
                </div>
                <div class="time">
                    3:00 - 3:30 PM
                </div>
            </div>
            <div class="action">
                <div class="cancel">
                    <button>Cancel</button>
                </div>
                <div class="reschedule">
                    <button>Reschedule</button>
                </div>
            </div>
        </div>

        <div class="single">
            <div class="title">
                Request for loan of Rs 1,00,00,000.00 within 20 days
            </div>
            <div class="description">
                <div class="name">
                    Phil Foden
                </div>
                <div class="address">
                    Baneshwor, Kathmandu
                </div>
            </div>
            <div class="schedule">
                <div class="day">
                    Today
                </div>
                <div class="time">
                    3:00 - 3:30 PM
                </div>
            </div>
            <div class="action">
                <div class="cancel">
                    <button>Cancel</button>
                </div>
                <div class="reschedule">
                    <button>Reschedule</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>